# Soccer data

Two soccer data sets pulled from kaggle.

CSV soccer data set: https://www.kaggle.com/secareanualin/football-events

SQLITE soccer data set: https://www.kaggle.com/hugomathien/soccer 

## CSV soccer data set

In [ ]:
import pandas as pd 
import csv
import numpy as np

In [ ]:
# Import dictionary.txt and make a nested dictionary 
dicts = ['event_type','event_type2','side','shot_place','shot_outcome','location','bodypart','assist_method','situation']

file = open('Resources/dictionary.txt')
f = csv.reader(file,delimiter='\t')

event = {} 

key0 = None 

for row in f:
    if(len(row)>0):
        if(row[0] in dicts):
            key = row[0]
            event[key] = {}
        if(len(row)>1):
            event[key][int(row[0])] = row[1]

file.close()
event

In [ ]:
# Import events CSV
data = pd.read_csv("Resources/events.csv")
data

In [ ]:
# Data cleaning
# Use events dictionary to replace values in the data df 
data['event_type'] = data['event_type'].map(event['event_type'])
data['event_type2'] = data['event_type2'].map(event['event_type2'])
data['side'] = data['side'].map(event['side'])
data['shot_place'] = data['shot_place'].map(event['shot_place'])
data['shot_outcome'] = data['shot_outcome'].map(event['shot_outcome'])
data['location'] = data['location'].map(event['location'])
data['bodypart'] = data['bodypart'].map(event['bodypart'])
data['assist_method'] = data['assist_method'].map(event['assist_method'])
data['situation'] = data['situation'].map(event['situation'])

# Capitalize names
data['player'] = data['player'].str.title()
data['player2'] = data['player2'].str.title()
data

In [ ]:
# Import ginf CSV
metadata = pd.read_csv("Resources/ginf.csv")
metadata

## SQLITE soccer data set

In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, select

In [ ]:
# create engine to database.sqlite
engine = create_engine("sqlite:///Resources/database.sqlite")

In [ ]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [ ]:
# View all of the classes that automap found
Base.classes.keys()

In [ ]:
results = engine.execute('SELECT * FROM Country')
keys = engine.execute('SELECT * FROM Country').keys()

data = []
column = []

for row in results:
    data.append(row)
    
for row in keys:
    column.append(row)
    
country = pd.DataFrame(data, columns=column)
country

In [ ]:
results = engine.execute('SELECT * FROM League')
keys = engine.execute('SELECT * FROM League').keys()

data = []
column = []

for row in results:
    data.append(row)
    
for row in keys:
    column.append(row)
    
league = pd.DataFrame(data, columns=column)
league

In [ ]:
results = engine.execute('SELECT * FROM Match')
keys = engine.execute('SELECT * FROM Match').keys()

data = []
column = []

for row in results:
    data.append(row)
    
for row in keys:
    column.append(row)
    
match = pd.DataFrame(data, columns=column)
match

In [ ]:
# Data cleaning, getting rid of the hours in date column
match['date'] = match['date'].str.split(' ',expand=True)[0]
match

In [ ]:
# Checking for duplicates
match = match.drop_duplicates(subset=['match_api_id'], keep='first')
match

In [ ]:
results = engine.execute('SELECT * FROM Player')
keys = engine.execute('SELECT * FROM Player').keys()

data = []
column = []

for row in results:
    data.append(row)
    
for row in keys:
    column.append(row)
    
player = pd.DataFrame(data, columns=column)
player

In [ ]:
# Data cleaning, getting rid of the hours in birthday column
player['birthday'] = player['birthday'].str.split(' ',expand=True)[0]
player

In [ ]:
# Checking for duplicates
player = player.drop_duplicates(subset=['player_name'], keep='first')
player

In [ ]:
results = engine.execute('SELECT * FROM Team')
keys = engine.execute('SELECT * FROM Team').keys()

data = []
column = []

for row in results:
    data.append(row)
    
for row in keys:
    column.append(row)
    
team = pd.DataFrame(data, columns=column)
team

In [ ]:
# Checking for duplicates
team = team.drop_duplicates(subset=['team_long_name'], keep='first')
team

In [ ]:
results = engine.execute('SELECT * FROM Player_Attributes')
keys = engine.execute('SELECT * FROM Player_Attributes').keys()

data = []
column = []

for row in results:
    data.append(row)
    
for row in keys:
    column.append(row)
    
player_attributes = pd.DataFrame(data, columns=column)
player_attributes

In [ ]:
# Data cleaning, getting rid of the hours in date column
player_attributes['date'] = player_attributes['date'].str.split(' ',expand=True)[0]
player_attributes

In [ ]:
results = engine.execute('SELECT * FROM Team_Attributes')
keys = engine.execute('SELECT * FROM Team_Attributes').keys()

data = []
column = []

for row in results:
    data.append(row)
    
for row in keys:
    column.append(row)
    
team_attributes = pd.DataFrame(data, columns=column)
team_attributes

In [ ]:
# Data cleaning, getting rid of the hours in date column
team_attributes['date'] = team_attributes['date'].str.split(' ',expand=True)[0]
team_attributes

# Unifiying both data sets

Each data set has a hard time to find a link in between each other, the goal of this section is to create auxiliar dataframes that can easily connect both data sets. This will be done through teams for the metadata set and players for the data set.

## Teams table

In [ ]:
# Get teams and ids from the team dataframe
team_id = team['team_api_id'].tolist()
team_name = team['team_long_name'].tolist()

# Insert both lists into two nested lists for easy indexing
team_info = [team_id,team_name]

In [ ]:
# To make sure there are no duplicates, both list's length have to be equal
print(len(team_id))
print(len(team_name))

In [ ]:
# Get all unique teams from the metadata dataframe
metadata_htname = metadata['ht'].unique().tolist()
metadata_atname = metadata['at'].unique().tolist()

# Find common teams in both data sets
unique_teams = list(set(metadata_htname + metadata_atname))
common_teams = list(set(unique_teams) & set(team_name))

# Create a list with two nested lists
common_teams_data = []
common_teams_data.append(common_teams)
common_teams_data.append([None] * len(common_teams))

In [ ]:
# Fill out the list with the ids of the teams in common
for x in range(len(common_teams_data[0])):
    for y in range(len(team_info[1])) :
        if common_teams_data[0][x] == team_info[1][y]:
            common_teams_data[1][x] = team_info[0][y]

In [ ]:
# Create auxiliar dataframe
common_teams_df = pd.DataFrame(columns=['team_id','team'])
common_teams_df['team_id'] = common_teams_data[1]
common_teams_df['team'] = common_teams_data[0]

common_teams_df

In [ ]:
# Making sure that the team and id match
team.loc[team['team_long_name'] == 'Liverpool']

In [ ]:
# Making sure that the team and id match
team.loc[team['team_api_id'] == 9804]

## Players table

In [ ]:
# Get players and ids from the team dataframe
player_name = player['player_name'].tolist()
player_id = player['player_api_id'].tolist()

# Insert both lists into two nested lists for easy indexing
player_info = [player_id,player_name]

In [ ]:
# To make sure there are no duplicates, both list's length have to be equal
print(len(player_id))
print(len(player_name))

In [ ]:
# Get all unique players from data dataframe
data_player1 = data['player'].unique().tolist()
data_player2 = data['player2'].unique().tolist()

In [ ]:
# Find unique players from both lists
unique_players = list(set(data_player1 + data_player2))
common_players = list(set(unique_players) & set(player_name))

common_players_info = []
common_players_info.append(common_players)
common_players_info.append([None] * len(common_players))

In [ ]:
for x in range(len(common_players_info[0])):
    for y in range(len(player_info[1])):
        if common_players_info[0][x] == player_info[1][y]:
            common_players_info[1][x] = player_info[0][y]

In [ ]:
# Create auxiliar dataframe
common_players_data = pd.DataFrame(columns=['player_id','player'])
common_players_data['player_id'] = common_players_info[1]
common_players_data['player'] = common_players_info[0]

common_players_data

In [ ]:
player.loc[player['player_api_id'] == 127894]

In [ ]:
player.loc[player['player_api_id'] == 129763]

# Inserting tables into Postgresql

In [ ]:
import os

# dotenv adds .env variables to the environment
from dotenv import load_dotenv

# Load variables
load_dotenv()
key = os.environ['KEY']

# Create engine and connect to PostgreSQL
engine = create_engine('postgresql://postgres:'+key+'@localhost:5432/soccer_data')
connection = engine.connect()

## Tables from the CSV data

In [ ]:
# Insert data dataframe into PostgreSQL
data.to_sql('event_data', con=engine, if_exists='replace', index=False)

# Set id_odsp and id_event as primary keys
connection.execute('ALTER TABLE event_data ADD PRIMARY KEY (id_odsp,id_event);')

In [ ]:
# Insert metadata dataframe into PostgreSQL
metadata.to_sql('event', con=engine, if_exists='replace', index=False)

# Set id_odsp as primary keys
connection.execute('ALTER TABLE event ADD PRIMARY KEY (id_odsp);')

In [ ]:
connection.execute('ALTER TABLE event ALTER COLUMN date TYPE DATE USING date::date;')

## Tables from the SQLite data

In [ ]:
# Insert country dataframe into PostgreSQL
country.to_sql('country', con=engine, if_exists='replace', index=False)

# Set id as primary key
connection.execute('ALTER TABLE country ADD PRIMARY KEY (id);')

In [ ]:
# Insert league dataframe into PostgreSQL
league.to_sql('league', con=engine, if_exists='replace', index=False)

# Set country_id as primary key
connection.execute('ALTER TABLE league ADD PRIMARY KEY (country_id);')

In [ ]:
# Insert match dataframe into PostgreSQL
match.to_sql('match', con=engine, if_exists='replace', index=False)

In [ ]:
# Set id as primary key
connection.execute('ALTER TABLE match ADD PRIMARY KEY (match_api_id);')

In [ ]:
connection.execute('ALTER TABLE match ALTER COLUMN date TYPE DATE USING date::date;')

In [ ]:
# Insert player dataframe into PostgreSQL
player.to_sql('player', con=engine, if_exists='replace', index=False)

# Set player_api_id and id as primary keys
connection.execute('ALTER TABLE player ADD PRIMARY KEY (player_api_id);')

In [ ]:
connection.execute('ALTER TABLE player ALTER COLUMN birthday TYPE DATE USING birthday::date;')

In [ ]:
# Insert team dataframe into PostgreSQL
team.to_sql('team', con=engine, if_exists='replace', index=False)

# Set player_api_id and id as primary keys
connection.execute('ALTER TABLE team ADD PRIMARY KEY (team_api_id);')

In [ ]:
# Insert player_attributes dataframe into PostgreSQL
player_attributes.to_sql('player_attributes', con=engine, if_exists='replace', index=False)

# Set player_api_id and id as primary keys
connection.execute('ALTER TABLE player_attributes ADD PRIMARY KEY (id,player_api_id);')

In [ ]:
connection.execute('ALTER TABLE player_attributes ALTER COLUMN date TYPE DATE USING date::date;')

In [ ]:
# Insert team_attributes dataframe into PostgreSQL
team_attributes.to_sql('team_attributes', con=engine, if_exists='replace', index=False)

# Set team_api_id and id as primary keys
connection.execute('ALTER TABLE team_attributes ADD PRIMARY KEY (id,team_api_id);')

In [ ]:
connection.execute('ALTER TABLE team_attributes ALTER COLUMN date TYPE DATE USING date::date;')

## Auxiliar tables

In [ ]:
# Insert common_teams_df dataframe into PostgreSQL
common_teams_df.to_sql('common_teams', con=engine, if_exists='replace', index=False)

# Set team_id as primary keys
connection.execute('ALTER TABLE common_teams ADD PRIMARY KEY (team_id);')

In [ ]:
# Set team as UNIQUE constraint, isolation level has to be autocommit, more info here: https://docs.sqlalchemy.org/en/14/core/connections.html#sqlalchemy.engine.Connection.execution_options.params.isolation_level
connection.execution_options(isolation_level="AUTOCOMMIT").execute('CREATE UNIQUE INDEX CONCURRENTLY unique_team_id ON common_teams (team);')
connection.execute('ALTER TABLE common_teams ADD CONSTRAINT unique_team UNIQUE USING INDEX unique_team_id;')

In [ ]:
# Insert common_teams_df dataframe into PostgreSQL
common_players_data.to_sql('common_players', con=engine, if_exists='replace', index=False)

# Set player_id as primary keys
connection.execute('ALTER TABLE common_players ADD PRIMARY KEY (player_id);')

In [ ]:
connection.execute('CREATE UNIQUE INDEX CONCURRENTLY unique_player_id ON common_players (player);')
connection.execute('ALTER TABLE common_players ADD CONSTRAINT unique_player UNIQUE USING INDEX unique_player_id;')